<!DOCTYPE html>
<html>
<title>About Me</title>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
/*.btn-primary{
  background-color: black;

}*/
p {
  font-family: "cursive";
  font-style: italic;
  font-size: 18px;
}
.w3-container{
  margin-top: 20px;
}



</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/media/navin.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Navin Narshetty</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Network Documentation</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Navi Mumbai</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>navinnarshetty@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9619811262 / 8080221262</p>
          <p><i class="fa fa-linkedin  fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://in.linkedin.com/in/navin-narshetty-a9b95980"  target="_blank">Profile</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Django</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
          <p>HTML</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
          <p>CSS</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
          <br>
          <p>Bootstrap</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
           <p>Deployment</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>


          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:100%"></div>
          </div>
          <p>Hindi</p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:100%"></div>
          </div>
          <p>Marathi</p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-teal" style="width:70%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-info fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Introduction</h2>
        
        <div class="w3-container">
<!--           <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6 -->
          <p>Hi <i class="fa fa-hand-rock-o"></i> , I am a self-taught programmer <i class='fa fa-code'></i>  who aspire to become a web devloper with the skill-sets i have acciquired lately . It is easier said than done , but i know i'll eventually get there because <i class='fa fa-hashtag'></i>Eager_To_Learn  </p>
          <p>To be honest i hated programming language untill i was introduce to python , the reason i love python because it has simple-to-learn syntax which helps a beginners alot </p>
          <p>I am a team player  <i class='fa fa-users'></i>, quick learner and good under crisis . </p>
          <p>Apart from this i love to read books <i class='fa fa-book'></i> , sketch <i class='fa fa-paint-brush'></i> , travel <i class='fa fa-car'></i> , Football <i class='fa fa-futbol-o'></i> and mobile photography <a href="https://www.instagram.com/navinnarshetty/?ref=badge" class="instagram" target="_blank"><i class='fa fa-camera-retro'></i></a>.</p>
          <p><p>
          <hr>
        </div>


        <a href='{% url "exprience" %}' >
            <!-- <button type="button" class="btn btn-primary">Exprience</button> -->
            {% include 'button.html' %}
            <button class="button" class='btn btn-primary'><span>Exprience </span></button>
        </a>

      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>JSSATE Banglore</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</h6>
          <p>B.E Degree - (ECE)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>St joseph junior college </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010</h6>
          <p>Graduated 12th with 85%</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>St Joseph High School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008</h6>
          <p>Graduated 10th with 81 %</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.instagram.com/navinnarshetty/?ref=badge" style="color:white;" target="_blank"><i class="fa fa-instagram w3-hover-text-indigo w3-large"></i></a>
  <!-- <a href="https://www.instagram.com/navinnarshetty/?ref=badge"><i class="fa fa-instagram w3-hover-text-purple w3-large"></i></a -->
  <a href="https://in.linkedin.com/in/navin-narshetty-a9b95980" style="color:white;" target="_blank"><i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i></a>
</footer>
</body>
</html>
