<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<style>
body {background-color: #fff;}

.container h3{text-align: center;
margin-top: 20px;
font-family: sans-serif;}

/*.btn-primary{margin-left: 100px;}
.btn-primary:hover {
  content: '\0b';
  padding-right: 25px;
  cursor: pointer;
  position: relative;
}*/

.button{
  width: 50px;
}




</style>

</head>


<body>
<!-- <div class='header'>
	<div class='container'>
		<h3>Company Name: Global Cloud Xchange</h3>
	</div>
</div> -->
<!-- <div class='jumbotron'>
	<div class='container'>
		<h2>Responsiblites:</h2>
		<ol>
			<li>Complete management of One-Stop-Documentation tool which includes ensuring smooth communication with other management tools (Smarts, Vital Suite and Voyence).</li>
			<li>Well versed with the management tools i.e. Voyence, Vital Suite, Smarts, and Remedy.</li>
			<li>Troubleshooting network devices’ config related issues so that they are properly added into management tools.</li>
			<li>Make basic <b>Python programs</b> that effortlessly perform useful and impressive feats of automation</li>
		</ol>

	</div>
</div> -->
<br/>
<div class='jumbotron'>
	<div class='container'>
<!-- <div class="w3-twothird"> -->
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Network Documentation/Global Cloud Xchange (80 percent time)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Complete management of One-Stop-Documentation tool which includes ensuring smooth communication with other management tools (Smarts, Vital Suite and Voyence).</p>
          <p>Well versed with the management tools i.e. Voyence, Vital Suite, Smarts, and Remedy.</p>
          <p>Troubleshooting network devices’ config related issues so that they are properly added into management tools.</p>
          <p>Make basic <b>Python programs</b> that effortlessly perform useful and impressive feats of automation</p>

          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>20 percent time</b></h5>
          <h6 class="w3-text-teal"></h6>
          <p>Completed online course for -Python , html , Css (Code-academy )</p>
          <p>Gained Basic knowledge of  Git , jquery,Bootstrap </p>
          <p>Got acquainted with different deployment platform like AWS , webfaction , pythonanywhere</p>
          <p>Have worked with Django platform</p>
          <p>Using django framework have  built a basic authentication site , online resume profile </p>
          <hr>
        </div>
      </div>

</div>


<a href='{% url "home" %}' >
{% include 'button.html' %}
<button class="button" class="btn btn-primary"><span>Home</span></button>
</a>
</body>



</html>
<style>
.button{
  width: 100px;
  margin-left: 100px;
}
</style>